.password-container input {
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
    height: 35px;
    font-size: 16px;
};

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    user-select: none;
};
